include ../partials/header
br
- var img = movie.poster
img(src=img width="270" height="360")
br
b
  |Title: 
|#{movie.title}
br
b
  |Rated: 
|#{movie.rated}
br
b
  |Released: 
|#{movie.released}
br
b
  |Runtime: 
|#{movie.runtime}
br
if movie.genre.length > 0
b
  |Genres: 
each obj in movie.genre
  -//a(href="http://localhost:3000/movies/?name=" + obj.id) #{obj.name}, 
  |#{obj}, 
br
if movie.director.length > 0
b
  |Director(s): 
each obj in movie.director
  a(href="http://localhost:3000/people/" + obj) #{obj}, 
br
if movie.writer.length > 0
b
  |Writer(s): 
each obj in movie.writer
  a(href="http://localhost:3000/people/" + obj) #{obj}, 
br
if movie.actors.length > 0
b
  |Actors: 
each obj in movie.actors
  a(href="http://localhost:3000/people/" + obj) #{obj}, 
br
b
  |Plot: 
|#{movie.plot}
br
b
  |Language: 
|#{movie.language}
br
if movie.similar.length > 0
b
  |Similar Movies: 
each obj in movie.similar
  a(href="http://localhost:3000/movies/" + obj) #{obj}, 
br
if movie.ratings.length > 0
b
  |Reviews:
br
each review in movie.ratings
  b
    |Source: 
  |#{review.Source} 
  b
    |Value: 
  |#{review.Value} 
  br



a(href='/movies/edit/' + movie.id) Edit
