include ../partials/header
br
- var img = movie.poster
img(src=img width="270" height="360")
br
b
  |Title: 
|#{movie.title}
br
b
  |Rated: 
|#{movie.rated}
br
b
  |Released: 
|#{movie.released}
br
b
  |Runtime: 
|#{movie.runtime}
br
b
  |Genre: 
|#{movie.genre}
br
b
  |Director: 
a(href="http://localhost:3000/people/" +movie.Director) #{movie.director}
br
b
  |Writer: 
|#{movie.writer}
br
b
  |Actors: 
|#{movie.actors}
br
b
  |Plot: 
|#{movie.plot}
br
b
  |Language: 
|#{movie.language}
br
b
  |Similar Movies: 
br
br
if movie.ratings.length > 0
b
  |Reviews:
br
each review in movie.ratings
  b
    |Source: 
  |#{review.Source} 
  b
    |Value: 
  |#{review.Value} 
  br
