include ../partials/header


b
  |Title: 
|#{movie.Title}
br
b
  |Year: 
|#{movie.Year}
br
b
  |Rated: 
|#{movie.Rated}
br
b
  |Released: 
|#{movie.Released}
br
b
  |Runtime: 
|#{movie.Runtime}
br
b
  |Genre: 
|#{movie.Genre}
br
b
  |Director: 
 #{movie.Director}
br
b
  |Writer: 
|#{movie.Writer}
br
b
  |Actors: 
|#{movie.Actors}
br
b
  |Plot: 
|#{movie.Plot}
br
b
  |Language: 
|#{movie.Language}
br
b
  |Similar Movies: 
br
br
if movie.Ratings.length > 0
b
  |Reviews:
br
each review in movie.Ratings
  b
    |Source: 
  |#{review.Source} 
  b
    |Value: 
  |#{review.Value} 
  br
