include ../partials/header
div.text-center
  h2 Welcome #{user.username}!
br
#reviewsDIV
div.text-center
  b My Reviews
  if user.reviews.length > 0
    each obj in user.reviews
      a(href="http://localhost:3000/movies/" + obj.movie_id) #{obj.movie}: 
      a(href="http://localhost:3000/reviews/" + obj._id) #{obj.title}
      br
      
br
#peopleFollowedDIV
div.text-center
  b Followed People 
  br
  if user.followedPeople.length > 0
    each obj in user.followedPeople
      a(href="http://localhost:3000/people/" + obj.id) #{obj.name}
      | &nbsp; 
      a(href="http://localhost:3000/people/unfollow/" + obj.id) Unfollow
      br

br
#usersFollowedDIV
div.text-center
  b Followed Users 
  br
  if user.followedUsers.length > 0
    each obj in user.followedUsers
      a(href="http://localhost:3000/users/" + obj._id) #{obj.username}
      | &nbsp; 
      a(href="http://localhost:3000/users/unfollow/" + obj._id) Unfollow
      br
br

#recommendedDIV
div.text-center
  b Recommended for you
  if user.recommended.length > 0
    each obj in user.recommended
      a(href="http://localhost:3000/movies/" + obj.id) #{obj.name}, 
br
div.text-center
  a(href='/users') See all Users
  br
  a(href='/movies') See all Movies
  br
  a(href='/people') See all People
  br
  br
form(method='POST', action='/users/profile')
  div.text-center
    if user.contributing==="n"
      br
      input.btn.btn-primary(type='submit', value='Become a contributing user') 
    else
      input.btn.btn-primary(type='submit',value='Become a regular user') 
